.contactBody{
    .contactWave{
        display: none;
    }
    .contactCard{
        display: flex;
        justify-content: center;
        a{
            background-color: #000;
            :hover{
                background-color: #fff;
                transition: .8s;
                border-radius: 5rem;
            }
            
        }
        i{
            margin-top: 15rem;
            margin-bottom: 6.3rem;
            padding: 1rem;
            font-size: 3rem;
            color: #00ffff;
        }
    }
}

@media (min-width: 991px) {
    .contactBody{
        .contactWave{
            display: block;
        }
        .contactCard{
            i{
                margin-top: 20px;
                margin-bottom: 0px;
                font-size: 40px;
            }
        }
    }
}