.homeBody{
    .homeWave{
        display: none;
    }
    .content{
        padding: 2rem;
        .text{
            color: #00ffff;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .card1{
       display: flex;
       justify-content: center;
        background: radial-gradient(circle, #00ffef 2%, #0baca2 38%, #0e504d 69%, #000000 100%);
        .imgContent{
            border-radius: 2rem;
            padding: .5rem;
            align-items: center;
            display: grid;
            grid-template-columns: 80px 80px 80px 80px;
            img{
                margin-top: .5rem;
                margin-left: 1rem;
                width: 3rem;
            }
        }
    }
}


@media (min-width: 991px) {
    .homeBody{
        .homeWave{
            display: block;
        }
        .flex{
            display: flex;
            justify-content: space-between;
            margin-top: -50px;
            .content{
                margin-top: 100px;
                padding: 16px;
            .text{
                font-size: 22px;
            }
            }
            .card1{
                display: flex;
                justify-content: center;
                background: transparent;
                margin-right: 30px;
            .imgContent{
                background: radial-gradient(circle, #00ffef 2%, #0baca2 38%, #0e504d 69%, #000000 100%);
                img{
                    margin-top: .5rem;
                    margin-left: 1rem;
                    width: 3rem;
                }
            } 
            }
        }
    }
}