.homeBody{
    .homeWave{
        display: none;
    }
    .content{
        background-color: #000;
        margin-top: 0rem;
        padding: 2rem;
        .text{
            color: #8E05C2;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .logos{
        display: flexbox;
        img{
            width: 3rem;
        }
    }
}


@media (min-width: 991px) {
    .homeBody{
        .homeWave{
            display: block;
        }
    }
}