.homeBody{
    .homeWave{
        display: none;
    }
    .content{
        background-color: #000;
        padding: 2rem;
        .text{
            color: #8E05C2;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .card1{
       display: flex;
       justify-content: center;
        .imgContent{
            border-radius: 0 0 2rem 2rem;
            padding: .5rem;
            background-color: #ccc;
            align-items: center;
            display: grid;
            grid-template-columns: 80px 80px 80px 80px;
            img{
                margin-left: 1rem;
                width: 3rem;
            }
        }
       
    }
}


@media (min-width: 991px) {
    .homeBody{
        .homeWave{
            display: block;
        }
    }
}