.navbar{
  background-color: #8E05C2;
  padding: 0;
  display: flex;
  border-bottom: 0px solid transparent;
  .header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-bottom: #000 solid 9px;
  .fas{
    font-size: 1.5rem;
    margin-right: 0;
    color: #000;
  }  
  .logo{
    padding: 1rem;
    img{
      width: 5rem;
    }
  }
  }
  #navbarSupportedContent{
    margin-top: -1px;
    .wave{
      margin-top: -3px;
    }
  }
  #navbarSupportedContent ul {
    padding: .8rem;
    margin: 0px;
    align-items: flex-end;
    background-color: #000;
  }
  #navbarSupportedContent li {
    list-style-type: none;
  }
  #navbarSupportedContent ul li a {
    color: #8E05C2;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.6rem;
  }
}


@media (min-width: 991px) {
  .navbar {
    border-bottom: #000 1px solid;
    .header{
      border-bottom: transparent;
      .logo {
        font-size: 25px;
        color: #000;
        font-weight: bold;
      }
    }
    #navbarSupportedContent{
      .wave{
        display: none;
      }
    }
    #navbarSupportedContent ul {
      padding: 0px;
      margin: 0px;
      height: 40px;
      background-color: transparent;
    }
    #navbarSupportedContent li {
      list-style-type: none;
    }
    #navbarSupportedContent ul li a {
      color: #000;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 9px 15px;
    }
  }
}
